*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .picture img{
    height: 500px;
    width: 430px;
    margin-right: 20px;
    padding: 40px 120px;
    border: 1px solid green;
    border-radius: 8px;
  }
  .wrapper{
    height: 40px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0,0.2);
  }
  .wrapper span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
  }
  .wrapper span.num{
    font-size: 15px;
    border-left:2px solid rgba(0,0,0,0.2) ;
    border-right:2px solid rgba(0,0,0,0.2) ;
    pointer-events: none;
  }